@import "../../styles/spacing";

.project {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 25% 30% 15% 25%;
  grid-template-rows: auto;
  column-gap: 1rem;
}

// .project__intro {
//   border: 1px dashed red;
//   position: relative;
//   top: 0;
// }

.project__btns {
  display: flex;
  flex-direction: column;
}

// Make button styling change when clicked on. Underline?
