@import "../styles/spacing";

$header-font: "Chivo", sans-serif;
$body-font: "Almarai", sans-serif;

@mixin header-text-style {
  font-family: $header-font;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: $vertical-gap;
}

@mixin subheading-text-style {
  font-family: $header-font;
  font-weight: 300;
  text-transform: uppercase;
}

@mixin clickable-header {
  @include subheading-text-style;
  font-size: 2rem;
}

@mixin body-text-style {
  font-family: $body-font;
  font-size: 1rem;
}
