$big-vertical-gap: 4rem;
$small-vertical-gap: 1rem;
$big-horizontal-gap: 4rem;
$small-horizontal-gap: 1rem;

@mixin section-style {
  height: 100vh;
  padding: $big-vertical-gap 0 0 0;
  position: relative;
}
