@import "./spacing", "./colors", "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $nearly-black;
}

section {
  @include section-style;
}

.section-heading {
  @include header-text-style;
}

h2 {
  @include subheading-text-style;
}

.clickable-heading {
  @include clickable-header;
}

p {
  @include body-text-style;
}

a {
  @include body-text-style;
  text-decoration: none;
  color: $nearly-black;
}

button {
  @include body-text-style;
  background-color: transparent;
  border: none;
  text-align: left;
}

a:hover,
button:hover {
  font-weight: 400;
}
