@import "../../styles/colors", "../../styles/spacing";

.cv {
  background-color: $pinker;
}

.cv article {
  display: grid;
  grid-template-columns: 30% 55%;
  // column-gap: $big-vertical-gap;
}

.cv__btns {
  display: flex;
  flex-direction: column;
}
